* {
    font-family: Helvetica;
    /*font-size: 22px;*/
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
}

h2 {
    /*font-size: 30px;*/
    padding: 10px;
    font-weight: bolder;
}

h3 {
    /*font-size: 24px;*/
    font-weight: bold;
}

/*header*/
.header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

nav ul {
    margin-right: 10px;
}

nav li {
    display: inline;
    padding: 10px;
    text-decoration: underline;
    margin-left: 5px;
}

/*background img and mission*/
.mission {
    height: 700px;
    width: 1200px;
    background-image: url("./imgs/mission-background.jpg");
    margin: 69px auto;
    display: flex;
    align-items: center;
}

#statement {
    background-color: black;
    height: 100px;
    width: 100%;
}

#statement h4 {
    position: relative;
    top: 10px;
}

/*Tea of the Month*/
.tea_month {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.tea_month h2 {
    margin-bottom: 10px;
}

.tea_month h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

#caption {
    margin-bottom: 30px;
}

.tea_pic {
    height: 200px;
    width: 300px;
}

.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    margin: 0 15px;
}
/*locations*/
#locations {
    height: 500px;
    width: 1200px;
    background-image: url("./imgs/locations-background.jpg");
    background-position: 50% 25%;
    margin: 50px 0px auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#locations h2 {
    background-color: transparent;
    width: 1200px;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
}

.address {
    width: 300px;
    height: 300px;
    margin: 0 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    opacity: 1;
}

.address p {
    margin-bottom: 10px;
}

.address h3, .address p {
    width: 100%;
}
/*contact*/
#contact {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}

#title {
    width: 100%;
    margin: 0;
}

#details {
    width: 100%;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-around;
}

#details h5 {
    width: 100%;
    padding-top: 30px;

}

/*footer*/

#foot {
    height: 50px;
    width: 100%;
    display: flex;
}

#foot p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}